/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #1b46c2;
$light: #fafafa;
$card-border-radius: 0.75rem;
$card-inner-border-radius: subtract($card-border-radius, 1px);

$headings-font-weight: 300 !important;
$a: #1392ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import '~bootstrap/scss/reboot';

.custom-classname.btn-primary {
  background-color: green;
}
/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
  background-image: url(../img/3.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */
.bg-white{
  background-color: #000 ;

}

.multiversx-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 50px; 
  background-image: url('../img/logo.png');
}



.joinButton {
  background-color: #f77f00;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none; /* You may need to add this to override browser default styles for button */
}

/* Dashboard
-------------------------------------------------- */

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84.7vh;
  padding: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.buttonsWrapper {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}

.subtitle {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
}


/* Sign Message
-------------------------------------------------- */
.sign-message {

  & h1 {
    font-size: 24px;
  }

  & textarea {
    min-height: 100px;
  }

  & button {
    align-self: center;
  }
}

.textarea-with-copy {
  position: relative;

  & a {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }

  @include media-breakpoint-up(md) {
    min-width: 650px;
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {
    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }
      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }
      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }
      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td,
    tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}


.wrapper2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 94%;
}

.imageWrapper {
    background: url('../img/gold.jpg');
    background-size: cover;
    height: 537px;
    width: 60%;
    margin-right: 12%;
}

.textWrapper {
    padding: 20px;
    width: 45%;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.subtitle {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}


.imageDescription {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.button {
    background-color: #fd7e14;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 50px;
    width: 100%;
}

.button:hover {
    background-color: #000;
    color: #fd7e14;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fd7e14;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fd7e14;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fd7e14;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .contentWrapper {
        flex-direction: column;
    }

    .imageWrapper {
        width: 100%;
        height: 300px;
        margin-right: 0;
    }

    .textWrapper {
        width: 100%;
        text-align: center;
    }
}

/* Footer
-------------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 0;
  font-size: 0.9rem;
}

.footerContent {
  text-align: center;
}
