@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #ffae00;
$light: #fafafa;
$card-border-radius: 0.75rem;
$card-inner-border-radius: subtract($card-border-radius, 1px);

$headings-font-weight: 300 !important;
$a: #1392ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import '~bootstrap/scss/reboot';

.btn-primary {
  background-color: #f77f00;
}

/* Base
-------------------------------------------------- */
html, body {
  min-height: 100vh;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-column {
  background-color: #000000;
}

.cardBody {
  background: #000000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
  max-height: 80vh;
  border: 1px solid #f77f00;
  color: #fff;
}

.homePanel {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */
.bg-white {
  background-color: #000 !important;
}

.border-bottom {
  border-bottom: 1px solid #ff5c01 !important;
}

.multiversx-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 50px;
  background-image: url('../img/logo.png');
}

.joinButton {
  background-color: #f77f00;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  /* You may need to add this to override browser default styles for button */
}


/* Sign Message
-------------------------------------------------- */
.sign-message {

  & h1 {
    font-size: 24px;
  }

  & textarea {
    min-height: 100px;
  }

  & button {
    align-self: center;
  }
}

.textarea-with-copy {
  position: relative;

  & a {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }

  @include media-breakpoint-up(md) {
    min-width: 650px;
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {
    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }

      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }

      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }

      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td,
    tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Dashboard */

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 1em;
  background-color: #000000;
}

.imageWrapper {
  flex: 2;
  padding-right: 1vw;
  height: auto;
  border-radius: 1vw;
  margin-right: 2%;
}

.textWrapper {
  flex: 1.5;
  padding-left: 1vw;
}

.title {
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.imageDescription {
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.5;
}

.mint-label {
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.mint-progress {
  margin-bottom: 20px;
}

.mintButton {
  display: block;
  margin: 20px auto 0;
}

/* Footer
-------------------------------------------------- */
.footer {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  border-top: 1px solid #ff5c01;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body;
  color: #FFFFFF;
  padding: 20px 0;
  font-size: 1rem;
}

.footerContent {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

/* Slider */

.mint-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mint-label,
.total-supply {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.progress-bar {
  width: 100%;

  height: 20px;
  background-color: #dcdcdc;
  border-radius: 10px;
  overflow: hidden;
}

.minted {
  height: 100%;
  background-color: #f77f00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.minted span {
  margin-left: 5px;
}

.remaining {
  height: 100%;
  background-color: #f2f2f2;
}

/* Styles for +/- buttons */

.buttonsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 8px;
}

.mintButton {
  padding: 1em 4em;
  font-size: 1.5em;
  min-width: 200px;
  display: inline-block;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mintButton:before {
  content: "";
  background: linear-gradient(45deg, #f77f00, #ff1e56, #fc3737, #ffa63f, #f39c12);
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing-mintButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.mintButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.mintButton:hover {
  background-color: #e56b0d;
}

@keyframes glowing-mintButton {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.incrementButton {
  display: flex;
  justify-content: center;
  background-color: #f77f00;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.incrementButton:hover {
  background-color: #e56b0d;
}


.dapp-core-component__main__btn-primary {
  color: #fff;
  background-color: #f77f00 !important;
  border-color: #f77f00 !important;
}

.section {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2vh;
  box-sizing: border-box;
  overflow: hidden;
  min-height: calc(100vh - 64px - 100px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 1921px) {
  .contentWrapper {
    width: 61vw; /* Increased the width to give more space to the text and other elements */
  }
  
  .title {
    font-size: calc(2.5em + 0.4vw); /* Reduced the font size */
    font-weight: 700;
  }
  
  .subtitle,
  .mint-label {
    font-size: calc(1.7em + 0.2vw); /* Reduced the font size */
    font-weight: 600;
  }
  
  .imageDescription {
    font-size: calc(1.2em + 0.1vw); /* Reduced the font size */
    font-weight: 400;
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .contentWrapper {
    width: 70vw; /* Increased the width to give more space to the text and other elements */
  }
  
  .title {
    font-size: calc(2em + 0.3vw); /* Reduced the font size */
    font-weight: 700;
  }
  
  .subtitle,
  .mint-label {
    font-size: calc(1.5em + 0.1vw); /* Reduced the font size */
    font-weight: 600;
  }
  
  .imageDescription {
    font-size: calc(1.1em + 0.1vw); /* Reduced the font size */
    font-weight: 400;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contentWrapper {
    width: 80vw;
  }
  
  .title {
    font-size: 2.2em;
    font-weight: 700;
  }
  
  .subtitle,
  .mint-label {
    font-size: 1.6em;
    font-weight: 600;
  }
  
  .imageDescription {
    font-size: 1.2em;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    width: 100%;
    padding: 0 5%;
    flex-direction: column;
  }
  
  .imageWrapper, .textWrapper {
    flex: 1;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.8em;
    font-weight: 700;
  }
  
  .subtitle,
  .mint-label {
    font-size: 1.4em;
    font-weight: 600;
  }
  
  .imageDescription {
    font-size: 1.1em;
    font-weight: 400;
  }
}

@media (max-width: 414px) {
  .contentWrapper {
    padding: 0 5%;
  }
  
  .title {
    font-size: 1.7em;
    font-weight: 700;
  }
  
  .subtitle,
  .mint-label {
    font-size: 1.3em;
    font-weight: 600;
  }
  
  .imageDescription {
    font-size: 1em;
    font-weight: 400;
  }
}
